.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    background-color: #0d0f1491;
    backdrop-filter: blur(5px);
    z-index: 100;
    width: 100vw;
}

.logo {
    color: var(--primary-color);
    font-size: 20px;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 20px;
}

.linksContainer li {
    margin-left: 20px;
    cursor: pointer;
    transition: all 400ms;
}

.linksContainer li:first-child {
    margin-left: 0;
}

.linksContainer li:hover {
    color: #ABABAB;
}

.linksContainer li.onPage {
    color: #ABABAB;
}

.navContainer {
    display: flex;
    flex-direction: row;
}

.socials {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 20px;
}

.socials li {
    margin-left: 20px;
    cursor: pointer;
    transition: all 400ms;
}

.socials .icon {
    font-size: 20px;
}

.socials li {
    color: white;
    margin-left: 20px;
}

.socials li:first-child {
    margin-left: 0px;
}

.socials li a {
    color: #ABABAB;
    transition: all 400ms;
}

.socials li a:hover {
    color: var(--primary-color);
    -webkit-box-shadow: 0px 0px 43px 0.5px rgba(100, 43, 255, 1);
    -moz-box-shadow: 0px 0px 43px 0.5px rgba(100, 43, 255, 1);
    box-shadow: 0px 0px 40px 0.25px rgba(100, 43, 255, 1), inset 0px 0px 40px 0.25px rgba(100, 43, 255, 0.18);
}

.hamburger {
    position: absolute;
    top: 2.5vh;
    right: 1vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

@media (max-width: 800px) {
    .hamburger {
        display: flex;
    }

    .linksContainer, .socials {
        padding-left: 0;
    }

    .navContainer {
        display: none;
    }

    .navbar, .navContainer {
        flex-direction: column;
        margin: 0;
        width: 100vw;
    }

    .navContainer {
        background-color: #1d2332;
    backdrop-filter: blur(10px);
        width: 100vw;
        margin: 0;
        position: absolute;
        top: 8vh;
        z-index: 1000;
        border-radius: 40px;
    }

    .navContainer ul {
        flex-direction: column;
        align-items: center;
    }

    .navContainer ul li {
        margin-left: 0px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .socials .icon {
        font-size: 30px;
        margin-bottom: 10px;
    }
}